extends css

snippet + "include"
@include $1;
endsnippet

snippet if "@if"
@if $1
endsnippet

snippet = "mixin"
@mixin ${1:name}${2:($3)} {
    $0
}
endsnippet

snippet ex "extends"
@extends $1;
endsnippet
